html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  background-image: linear-gradient(to right top, #cccfd3, #c8cacd, #c5c5c7, #c1c1c2, #bcbcbc);
}
.title{
  font-size: 10rem;
  text-align: center;
  font-family: 'Pacifico', cursive;
}
.parent {
  display: flex;
  justify-content: space-around;
  font-size: 7rem;
  text-align: center;
  margin: 5rem;
}
.row1{
  margin-top: 2rem;
}
#name{
  font-family: "Courgette", cursive;
  font-size: 4rem;
}
.price{
  font-family: "Lobster Two", cursive;
}
.parent img {
  margin: 2rem;
  width: 30rem;
  border-radius: 2rem;
}
.food {
  border: 1rem black;
  background-color: rgb(230, 227, 227);
  border-radius: 2rem;
  margin-top: 2rem;
  padding: 5rem;
  box-shadow: 1rem 1rem lightslategrey;
