html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  background-image: linear-gradient(
    to right top,
    #cccfd3,
    #c8cacd,
    #c5c5c7,
    #c1c1c2,
    #bcbcbc
  );
}
.title {
  font-size: 10rem;
  text-align: center;
  font-family: "Pacifico", cursive;
}
.parent {
  justify-content: space-around;
  font-size: 7rem;
  text-align: center;
  margin: 5rem;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
}
.food {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: 3rem;
}
#food-name {
  font-family: "Courgette", cursive;
  font-size: 4rem;
  transition: all 0.5s;
}
#food-name:hover {
  color: rgb(91, 91, 221);
}
.food-price {
  font-family: "Lobster Two", cursive;
}
.food-price {
  transition: all 0.5s;
}
.food-price:hover {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px) scale(1.1);
}
.parent img {
  margin: 2rem;
  width: 30rem;
  border-radius: 2rem;
  transition: all 0.5s;
  box-shadow: 0 0 0.2rem rgb(121, 177, 233);
  justify-content: center;
}
.parent img:hover {
  box-shadow: 0 2rem 2rem -2rem rgb(121, 177, 233);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.food {
  border: 1rem black;
  background-color: rgb(230, 227, 227);
  border-radius: 2rem;
  margin-top: 2rem;
  padding: 5rem;
  box-shadow: 1rem 1rem lightslategrey;
  transition: all 0.5s;
  justify-content: center;
  display: flex;
}
.food:hover {
  transform: scale(1.1);
}
button {
  margin-top: 1rem;
  font-size: 2rem;
  font-family: "Acme", sans-serif;
  text-align: center;
  line-height: 2.5;
  padding: 0.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  display: inline-block;
  border-radius: 2rem;
  transition: all 0.5s;
}
button:hover {
  background-color: lightpink;
}
body {
  animation: fadeIn 3s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0);
  }
}
@media (max-width: 1600px) {
  .parent img {
    width: 25rem;
    margin-left: 1.2rem;
  }
}
@media (max-width: 1280px) {
  .food {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    width: 37%;
    margin: 3rem;
    align-content: center;
  }
  .parent img {
    width: 30rem;
    margin-left: 2rem;
  }
}
@media (max-width: 1024px) {
  .food {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 3rem;
    align-content: center;
  }
  .parent img {
    width: 40rem;
    margin-left: 7rem;
  }
}
@media (max-width: 768px) {
  .food {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 3rem;
    align-content: center;
  }
  .parent img {
    width: 35rem;
    margin-left: 1rem;
  }
}
@media (max-width: 390px) {
  .food {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    width: 120%;
    margin: 3rem;
    align-content: center;
  }
  .food:hover {
    transform: scale(1.03);
  }
  .parent img {
    width: 25rem;
    margin-left: 0.1rem;
  }
}
