html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  background-image: linear-gradient(
    to right top,
    #138576,
    #139aae,
    #67a9d9,
    #b5b4ed,
    #f6c0ec
  );
}
.head h1{
  font-size: 10rem;
  text-align: center;
  font-family: 'Pacifico', cursive;
}
.parent {
  display: flex;
  justify-content: space-around;
  font-size: 7rem;
  text-align: center;
  margin: 10rem;
}
.row1{
  margin-top: 2rem;
}
#name{
  font-family: "Courgette", cursive;
  border: 0.5rem solid black;
  border-radius: 1rem;
}
.parent p {
  font-family: "Lobster Two", cursive;
}
.parent img {
  margin: 2rem;
  width: 30rem;
  border-radius: 2rem;
}
.food {
  border: 1rem double black;
  border-radius: 2rem;
  margin-top: 2rem;
  padding: 5rem;
  box-shadow: 5px 10px cadetblue;
